
PP/.vs/PP/DesignTimeBuild/.dtbcache.v2
PP/.vs/PP/v16/.suo
PP/Core.Common.UI.WPF/bin/Debug/Core.Common.UI.WPF.dll
PP/Core.Common.UI.WPF/bin/Debug/Core.Common.UI.WPF.pdb
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF.csproj.CoreCompileInputs.cache
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF.csproj.FileListAbsolute.txt
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF.csproj.GenerateResource.cache
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF.dll
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF.g.resources
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF.pdb
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF.Properties.Resources.resources
PP/Core.Common.UI.WPF/obj/Debug/Themes/Icons.baml
PP/Core.Common.UI.WPF/obj/Debug/Themes/Styles/ButtonStyles.baml
PP/Core.Common.UI.WPF/obj/Debug/Themes/Styles/CheckBoxStyles.baml
PP/Core.Common.UI.WPF/obj/Debug/Themes/Styles/ComboBoxStyles.baml
PP/Core.Common.UI.WPF/obj/Debug/Themes/Styles/GroupBoxStyles.baml
PP/Core.Common.UI.WPF/obj/Debug/Themes/Styles/TextBoxStyles.baml
PP/Core.Common.UI.WPF/obj/Debug/Themes/Styles/WindowStyles.baml
PP/Core.Common.UI.WPF/obj/Debug/Themes/System.Windows.baml
PP/Core.Common.UI.WPF/obj/Debug/Themes/Tiles/Confezione.baml
PP/Core.Common.UI.WPF/obj/Debug/Themes/Tiles/ControlloGestione.baml
PP/Core.Common.UI.WPF/obj/Debug/Themes/Tiles/Departments.baml
PP/Core.Common.UI.WPF/obj/Debug/Themes/Tiles/Production.baml
PP/Core.Common.UI.WPF/obj/Debug/Themes/Tiles/RisorseUmane.baml
PP/Core.Common.UI.WPF/obj/Debug/Themes/Tiles/Stiro.baml
PP/Core.Common.UI.WPF/obj/Debug/Themes/Tiles/Tessitura.baml
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/PP.Chronometer.WPF.assets.cache
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/PP.Chronometer.WPF.csproj.FileListAbsolute.txt
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/PP.Chronometer.WPF_MarkupCompile.i.cache
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/PP.Chronometer.WPF_MarkupCompile.i.lref
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/Views/AssignedTasksView.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/Views/AssistanceTasksView.g.i.cs
PP/PP.Chronometer.WPF/obj/PP.Chronometer.WPF.csproj.nuget.dgspec.json
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/Views/LoginView.g.i.cs
PP/PP.Chronometer.WPF/obj/PP.Chronometer.WPF.csproj.nuget.g.props
PP/PP.Chronometer.WPF/obj/PP.Chronometer.WPF.csproj.nuget.g.targets
PP/PP.Chronometer.WPF/obj/project.assets.json
PP/PP.Chronometer.WPF/obj/project.nuget.cache
PP/PP.Domain/bin/Debug/netcoreapp3.1/PP.Domain.deps.json
PP/PP.Domain/bin/Debug/netcoreapp3.1/PP.Domain.dll
PP/PP.Domain/bin/Debug/netcoreapp3.1/PP.Domain.pdb
PP/PP.Domain/obj/Debug/netcoreapp3.1/PP.Domain.assets.cache
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF.csprojAssemblyReference.cache
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF_MarkupCompile.cache
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF_MarkupCompile.lref
PP/Core.Common.UI.WPF/obj/Debug/GeneratedInternalTypeHelper.g.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/App.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/Controls/LoadingControl.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/Controls/NavigationBar.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/PP.Chronometer.WPF.csprojAssemblyReference.cache
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/Views/ChronometerView.g.i.cs
PP/PP.Domain/obj/Debug/netcoreapp3.1/PP.Domain.csproj.CoreCompileInputs.cache
PP/PP.Domain/obj/Debug/netcoreapp3.1/PP.Domain.csproj.FileListAbsolute.txt
PP/PP.Domain/obj/Debug/netcoreapp3.1/PP.Domain.csprojAssemblyReference.cache
PP/PP.Domain/obj/Debug/netcoreapp3.1/PP.Domain.dll
PP/PP.Domain/obj/Debug/netcoreapp3.1/PP.Domain.pdb
PP/PP.Domain/obj/PP.Domain.csproj.nuget.dgspec.json
PP/PP.Domain/obj/PP.Domain.csproj.nuget.g.props
PP/PP.Domain/obj/PP.Domain.csproj.nuget.g.targets
PP/PP.Domain/obj/project.assets.json
PP/PP.Domain/obj/project.nuget.cache
PP/PP.EntityFramework/bin/Debug/netcoreapp3.1/PP.Domain.dll
PP/PP.EntityFramework/bin/Debug/netcoreapp3.1/PP.Domain.pdb
PP/PP.EntityFramework/bin/Debug/netcoreapp3.1/PP.EntityFramework.deps.json
PP/PP.EntityFramework/bin/Debug/netcoreapp3.1/PP.EntityFramework.dll
PP/PP.EntityFramework/bin/Debug/netcoreapp3.1/PP.EntityFramework.pdb
PP/PP.EntityFramework/bin/Debug/netcoreapp3.1/PP.EntityFramework.runtimeconfig.dev.json
PP/PP.EntityFramework/bin/Debug/netcoreapp3.1/PP.EntityFramework.runtimeconfig.json
PP/PP.EntityFramework/obj/Debug/netcoreapp3.1/PP.EntityFramework.assets.cache
PP/PP.EntityFramework/obj/Debug/netcoreapp3.1/PP.EntityFramework.csproj.CopyComplete
PP/PP.EntityFramework/obj/Debug/netcoreapp3.1/PP.EntityFramework.csproj.CoreCompileInputs.cache
PP/PP.EntityFramework/obj/Debug/netcoreapp3.1/PP.EntityFramework.csproj.FileListAbsolute.txt
PP/PP.EntityFramework/obj/Debug/netcoreapp3.1/PP.EntityFramework.csprojAssemblyReference.cache
PP/PP.EntityFramework/obj/Debug/netcoreapp3.1/PP.EntityFramework.dll
PP/PP.EntityFramework/obj/Debug/netcoreapp3.1/PP.EntityFramework.genruntimeconfig.cache
PP/PP.EntityFramework/obj/Debug/netcoreapp3.1/PP.EntityFramework.pdb
PP/PP.EntityFramework/obj/PP.EntityFramework.csproj.nuget.dgspec.json
PP/PP.EntityFramework/obj/PP.EntityFramework.csproj.nuget.g.props
PP/PP.EntityFramework/obj/PP.EntityFramework.csproj.nuget.g.targets
PP/PP.EntityFramework/obj/project.assets.json
PP/PP.EntityFramework/obj/project.nuget.cache
PP/PP.EntityFramework/PPDbContextFactory.cs
PP/PP.WPF/bin/Debug/netcoreapp3.1/Core.Common.UI.WPF.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Core.Common.UI.WPF.pdb
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.CodeParser.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Data.Desktop.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Data.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.DataAccess.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Images.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Mvvm.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Office.v20.2.Core.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Pdf.v20.2.Core.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Pdf.v20.2.Drawing.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Printing.v20.2.Core.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.RichEdit.v20.2.Core.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Xpf.Core.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Xpf.Docking.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Xpf.DocumentViewer.v20.2.Core.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Xpf.ExpressionEditor.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Xpf.Grid.v20.2.Core.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Xpf.Grid.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Xpf.Grid.v20.2.Extensions.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Xpf.Layout.v20.2.Core.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Xpf.LayoutControl.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Xpf.Office.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Xpf.Printing.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Xpf.Ribbon.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Xpf.RichEdit.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Xpf.Scheduling.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Xpf.Themes.Office2019Colorful.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.Xpo.v20.2.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.XtraScheduler.v20.2.Core.Desktop.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/DevExpress.XtraScheduler.v20.2.Core.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/PP.Domain.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/PP.Domain.pdb
PP/PP.WPF/bin/Debug/netcoreapp3.1/PP.EntityFramework.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/PP.EntityFramework.pdb
PP/PP.WPF/bin/Debug/netcoreapp3.1/PP.WPF.deps.json
PP/PP.WPF/bin/Debug/netcoreapp3.1/PP.WPF.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/PP.WPF.exe
PP/PP.WPF/bin/Debug/netcoreapp3.1/PP.WPF.pdb
PP/PP.WPF/bin/Debug/netcoreapp3.1/PP.WPF.runtimeconfig.dev.json
PP/PP.WPF/bin/Debug/netcoreapp3.1/PP.WPF.runtimeconfig.json
PP/PP.WPF/bin/Debug/netcoreapp3.1/Remotion.Linq.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/System.Interactive.Async.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/System.Private.ServiceModel.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/System.ServiceModel.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/System.ServiceModel.Http.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/System.ServiceModel.NetTcp.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/System.ServiceModel.Primitives.dll
PP/PP.WPF/bin/Debug/netcoreapp3.1/System.ServiceModel.Security.dll
PP/PP.WPF/obj/Debug/netcoreapp3.1/App.baml
PP/PP.WPF/obj/Debug/netcoreapp3.1/App.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/App.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/apphost.exe
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/LoadingControl.baml
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/LoadingControl.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/LoadingControl.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/NavigationBar.baml
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/NavigationBar.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/NavigationBar.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/GeneratedInternalTypeHelper.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/MainWindow.baml
PP/PP.WPF/obj/Debug/netcoreapp3.1/MainWindow.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF.assets.cache
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF.csproj.CopyComplete
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF.csproj.CoreCompileInputs.cache
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF.csproj.FileListAbsolute.txt
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF.csprojAssemblyReference.cache
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF.dll
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF.g.resources
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF.genruntimeconfig.cache
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF.pdb
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF_MarkupCompile.cache
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF_MarkupCompile.i.cache
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF_MarkupCompile.i.lref
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF_MarkupCompile.lref
PP/PP.WPF/obj/Debug/netcoreapp3.1/Styles/Common.baml
PP/PP.WPF/obj/Debug/netcoreapp3.1/Styles/NavigationBar.baml
PP/PP.WPF/obj/Debug/netcoreapp3.1/Views/EditTaskFormView.baml
PP/PP.WPF/obj/Debug/netcoreapp3.1/Views/EditTaskFormView.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Views/EditTaskFormView.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Views/HomeView.baml
PP/PP.WPF/obj/Debug/netcoreapp3.1/Views/HomeView.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Views/HomeView.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Views/LoginView.baml
PP/PP.WPF/obj/Debug/netcoreapp3.1/Views/LoginView.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Views/LoginView.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Views/TrackingView.baml
PP/PP.WPF/obj/Debug/netcoreapp3.1/Views/TrackingView.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Views/TrackingView.g.i.cs
PP/PP.WPF/obj/PP.WPF.csproj.nuget.dgspec.json
PP/PP.WPF/obj/PP.WPF.csproj.nuget.g.props
PP/PP.WPF/obj/PP.WPF.csproj.nuget.g.targets
PP/PP.WPF/obj/project.assets.json
PP/PP.WPF/obj/project.nuget.cache
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF.csprojAssemblyReference.cache
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF_MarkupCompile.cache
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF_MarkupCompile.lref
PP/Core.Common.UI.WPF/obj/Debug/GeneratedInternalTypeHelper.g.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/App.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/Controls/LoadingControl.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/Controls/NavigationBar.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/PP.Chronometer.WPF.csprojAssemblyReference.cache
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/Views/ChronometerView.g.i.cs
PP/PP.Domain/obj/Debug/netcoreapp3.1/PP.Domain.csprojAssemblyReference.cache
PP/PP.EntityFramework/obj/Debug/netcoreapp3.1/PP.EntityFramework.csprojAssemblyReference.cache
PP/PP.EntityFramework/PPDbContextFactory.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/App.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/App.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/LoadingControl.baml
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/LoadingControl.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/LoadingControl.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/NavigationBar.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/NavigationBar.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/GeneratedInternalTypeHelper.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/MainWindow.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF.csprojAssemblyReference.cache
PP/PP.WPF/obj/Debug/netcoreapp3.1/Styles/Common.baml
PP/PP.WPF/obj/Debug/netcoreapp3.1/Styles/NavigationBar.baml
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF.csprojAssemblyReference.cache
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF_MarkupCompile.cache
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF_MarkupCompile.lref
PP/Core.Common.UI.WPF/obj/Debug/GeneratedInternalTypeHelper.g.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/App.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/Controls/LoadingControl.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/Controls/NavigationBar.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/PP.Chronometer.WPF.csprojAssemblyReference.cache
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/Views/ChronometerView.g.i.cs
PP/PP.Domain/obj/Debug/netcoreapp3.1/PP.Domain.csprojAssemblyReference.cache
PP/PP.EntityFramework/obj/Debug/netcoreapp3.1/PP.EntityFramework.csprojAssemblyReference.cache
PP/PP.EntityFramework/PPDbContextFactory.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/App.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/App.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/LoadingControl.baml
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/LoadingControl.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/LoadingControl.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/NavigationBar.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/NavigationBar.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/GeneratedInternalTypeHelper.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/MainWindow.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF.csprojAssemblyReference.cache
PP/PP.WPF/obj/Debug/netcoreapp3.1/Styles/Common.baml
PP/PP.WPF/obj/Debug/netcoreapp3.1/Styles/NavigationBar.baml
*.cache
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF.csprojAssemblyReference.cache
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF_MarkupCompile.cache
PP/Core.Common.UI.WPF/obj/Debug/Core.Common.UI.WPF_MarkupCompile.lref
PP/Core.Common.UI.WPF/obj/Debug/GeneratedInternalTypeHelper.g.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/App.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/Controls/LoadingControl.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/Controls/NavigationBar.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/PP.Chronometer.WPF.csprojAssemblyReference.cache
PP/PP.Chronometer.WPF/obj/Debug/netcoreapp3.1/Views/ChronometerView.g.i.cs
PP/PP.Domain/obj/Debug/netcoreapp3.1/PP.Domain.csprojAssemblyReference.cache
PP/PP.EntityFramework/obj/Debug/netcoreapp3.1/PP.EntityFramework.csprojAssemblyReference.cache
PP/PP.EntityFramework/PPDbContextFactory.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/App.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/App.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/LoadingControl.baml
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/LoadingControl.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/LoadingControl.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/NavigationBar.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/Controls/NavigationBar.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/GeneratedInternalTypeHelper.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/MainWindow.g.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF.csprojAssemblyReference.cache
PP/PP.WPF/obj/Debug/netcoreapp3.1/Styles/Common.baml
PP/PP.WPF/obj/Debug/netcoreapp3.1/Styles/NavigationBar.baml
PP/PP.WPF/bin/Debug/netcoreapp3.1/Logs/PP_Kinitting2021-05-19.log
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF.csprojAssemblyReference.cache
PP/PP.WPF/obj/Debug/netcoreapp3.1/PP.WPF.csprojAssemblyReference.cache
*.dll
*.dll
*.cache
PP/PP.Chronometer.WPF/bin/Debug/netcoreapp3.1/DevExpress.CodeParser.v20.2.dll
PP/PP.Chronometer.WPF/bin/Debug/netcoreapp3.1/DevExpress.DataAccess.v20.2.dll
PP/PP.Chronometer.WPF/bin/Debug/netcoreapp3.1/DevExpress.Images.v20.2.dll
